html {
    font-family: sans-serif;
}

body {
    background-color: rgb(240, 250, 250);
    margin: 1.2em;
}

th, td {
    padding: 1em;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: blueviolet;
}