html {
    font-family: sans-serif;
}

hr {
    color: rgb(127, 93, 158);
}

body {
    background-color: rgb(240, 245, 250);
    margin: 1.2em;
}

th, td {
    padding: 1em;
    text-align: center;
    border: 1px solid rgb(60, 60, 60);
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: blueviolet;
}

a:hover {
    color: rgb(158, 104, 221);
}